.advantages {
  padding: @wrapperPadding;
}

.advantages__title {
  margin: 0;
}

.advantages__list {
  .listStyle();
  padding-top: 31px;
}

.advantages__item {
  margin-bottom: 28px;
}

.advantages__description {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: @black;
  margin: 0;
  padding-top: 28px;
}
