.catalog {
  padding: @wrapperPadding;
}

.catalog__list {
  .listStyle();
}

.catalog__content {
  padding-top: 22px;
  padding-left: 28px;
  padding-right: 28px;
}

.catalog__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: @black;
}

.catalog__item {
  border: 1px solid @whiteTwo;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__text {
  margin-bottom: 0;
  font-size: 13px;
  padding-bottom: 27px;
}

.catalog__cart {
  padding-top: 22px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid @whiteTwo;

  &-link {
    opacity: 0.2;
  }
}

.catalog__price {
  font-weight: bold;
  line-height: 24px;
  color: @black;
}

@media (min-width: @tabletWidth) {
  .catalog {
    padding: @wrapperPaddingTablet;
    margin-bottom: 53px;
  }

  .catalog__item {
    display: flex;
    margin-bottom: 53px;
  }

  .catalog__img-wrapper {
    width: 50%;
  }

  .catalog__img {
    width: 100%;
  }

  .catalog__content {
    width: 50%;
    padding: 29px 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .catalog__title {
    font-size: 20px;
    line-height: 24px;
  }

  .catalog__text {
    font-size: 15px;
  }

  .catalog__cart {
    padding: 0;
    padding-top: 27px;
  }

  .catalog__price {
    font-size: 17px;
  }
}

@media (min-width: @desktopWidth) {
  .catalog {
    .wrapperContent();
    margin-bottom: 57px;
  }

  .catalog__content {
    width: 100%;
    padding: 29px 28px 32px;
    height: calc(100% - 236px);
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .catalog__item {
    flex-direction: column;
    margin-right: 51px;
    width: 316px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }

    .catalog__text {
      padding-bottom: 45px;
    }
  }

  .catalog__cart {
    padding-top: 23px;
  }

  .catalog__img-wrapper {
    width: 100%;
  }
}
