.goods-of-week {
  padding: @wrapperPadding;
  padding-bottom: 34px;
  .zigzagLine();
}

.goods-of-week__title {
  margin: 0;
  font-size: 25px;
  font-weight: bold;
  color: @black;
}

.goods-of-week__status {
  color: @seafoamBlue;
  text-transform: uppercase;
}

.goods-of-week__description {
  line-height: 24px;
  text-align: left;
  margin: 0;
  padding: 18px 0;
}

.goods-of-week__properties {
  width: 100%;
}

.goods-of-week__features {
  display: block;
  border-bottom: 1px solid @whiteTwo;
  line-height: 30px;
}

.goods-of-week__item {
  padding-left: 31px;
}

.goods-of-week__value {
  width: 69px;
  padding: 5px 0;
}

.goods-of-week__image {
  display: block;
  margin: 28px auto 23px;
  background-color: @lightGrey;
}

.goods-of-week__price {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  margin: 0;
}

.goods-of-week__button {
  line-height: 20px;
  font-size: 17px;
  margin: 24px auto 6px;
}

@media (min-width: @tabletWidth) {
  .goods-of-week {
    padding: @wrapperPaddingTablet;
    background: url("../img/bg-zigzag-line.svg") repeat-x bottom;
    position: relative;
    padding-top: 6px;
    padding-bottom: 63px;
    background-size: auto 15px;
  }

  .goods-of-week__title {
    .fontSize();
    margin: 0;
  }

  .goods-of-week__status {
    font-size: 17px;
    line-height: 17px;
    width: 124px;
    text-align: center;
  }

  .goods-of-week__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .goods-of-week__cart {
    width: 50%;
    margin-top: 49px;
    padding-right: 51px;
  }

  .goods-of-week__description {
    padding: 0;
    padding-bottom: 37px;
    font-size: 17px;
    line-height: 30px;
  }

  .goods-of-week__image {
    width: 333px;
    height: 404px;
    position: absolute;
    top: 108px;
    right: 52px;
    margin: 0;
  }

  .goods-of-week__price {
    text-align: left;
    padding-left: 68px;
    font-size: 20px;
  }

  .goods-of-week__properties {
    margin-bottom: 56px;
    line-height: 20px;
  }

  .goods-of-week__button {
    width: 292px;
    margin-top: 31px;
    margin-left: 0;
  }
}

@media (min-width: @desktopWidth) {
  .goods-of-week {
    .wrapperContent();
    background: url("../img/zigzag-line-desktop.png") no-repeat center bottom;
    padding: 0 0 88px;
    background-size: auto 23px;
  }

  .goods-of-week__wrapper {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-top: 54px;
  }

  .goods-of-week__title {
    .fontSizeDescktop();
  }

  .goods-of-week__status {
    margin-left: 20px;
    margin-right: 25px;
  }

  .goods-of-week__cart {
    margin-left: 175px;
    width: 32%;
    margin-top: 49px;
  }

  .goods-of-week__description {
    padding-bottom: 48px;
  }

  .goods-of-week__image {
    width: 525px;
    height: 636px;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .goods-of-week__price {
    margin-left: 178px;
    margin-top: 110px;
  }

  .goods-of-week__button {
    margin-left: 175px;
  }
}
