.main-nav {
  min-width: 320px;
  width: 100%;
}

.main-nav__toggle {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 14px;
  background-color: @white;
  border: none;
  position: absolute;
  top: 38px;
  right: 31px;
  transform: translateY(-50%);
}

.main-nav--closed .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    display: block;
    background-color: @black;
    width: 20px;
    height: 2px;
  }

  &::before {
    box-shadow: 0 -5px 0 0 @black;
  }

  &::after {
    top: 11px;
    position: absolute;
  }
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    background-color: @black;
    content: "";
    width: 23px;
    height: 2px;
    top: 5px;
    right: -1px;
    position: absolute;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--closed {
  .site-list__item,
  .user-list__item {
    display: none;

    @media (min-width: @tabletWidth) {
      display: flex;
    }
  }
}

.main-nav__list {
  .listStyle();
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: @black;
}

@media (min-width: @tabletWidth) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: flex;
    justify-content: flex-end;
  }

  .main-nav__list {
    font-size: 15px;
  }
}

@media (min-width: @desktopWidth) {
  .main-nav {
    flex-wrap: nowrap;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }

  .main-nav__list {
    font-size: 17px;
    line-height: 24px;
  }
}
