.main-nav__toggle {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 14px;
  background-image: url("../img/icon-menu-open.svg");
  background-color: @white;
  border: none;
  position: absolute;
  top: 40px;
  right: 32px;
  transform: translateY(-50%);
}

.main-nav {
  min-width: 320px;
}

.main-nav__list {
  width: 100%;
  .listStyle();
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: @black;
}

@media (min-width: @tabletWidth) {
  .main-nav__toggle {
    display: none;
  }

  .main-nav {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__list {
    font-size: 15px;
  }
}

@media (min-width: @desktopWidth) {
  .main-nav {
    flex-wrap: nowrap;
    width: 100%;
    align-items: center;
  }

  .main-nav__list {
    font-size: 17px;
    line-height: 24px;
  }
}
