.page-footer {
  background-color: @lightGrey;
}

.page-footer__link {
  display: none;
}

.page-footer__content {
  padding: 25px 30px 23px;
}

.page-footer__developer {
  font-size: 19px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;

  &:hover .page-footer__img {
    fill: @blueEmail;
  }

  &:active .page-footer__img {
    opacity: 0.3;
  }
}

.page-footer__img {
  margin-left: 30px;
}

@media (min-width: @tabletWidth) {
  .page-footer__content {
    padding: 51px 52px;
    display: flex;
    justify-content: space-between;
  }

  .page-footer__link {
    display: block;
  }

  .page-footer__link--img {
    display: block;
    width: 102px;
    height: 34px;
    margin-right: 80px;

    &:hover {
      fill: @blueEmail;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__developer {
    padding: 0;
  }
}

@media (min-width: @desktopWidth) {
  .page-footer__content {
    .wrapperContent();
    padding: 51px 0 58px;
  }
}
