.page-header {
  background-color: @white;
  padding-top: 22px;
  border-bottom: 1px solid @whiteTwo;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page-header__link {
  margin-bottom: 22px;

  img {
    width: 86px;
    height: 35px;
  }
}

@media (min-width: @tabletWidth) {
  .page-header {
    padding: @wrapperPaddingTablet;
    height: 88px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding-top: 0;
  }

  .page-header__link {
    margin-bottom: 0;
    position: absolute;
    top: 22px;
    left: 52px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    img {
      display: block;
      width: 112px;
      height: 46px;
    }
  }
}

@media (min-width: @desktopWidth) {
  .page-header {
    .wrapperContent();
    padding: 0;
    height: auto;
    min-height: 88px;
  }

  .page-header__link {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    img {
      display: block;
      width: 149px;
      height: 72px;
    }
  }
}
