.presentation {
  margin: 0 30px 58px 30px;
  box-shadow: inset 0 0 0 1px rgba(236, 236, 236, 1);
  display: flex;
  flex-direction: column;
}

.presentation__title {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: @black;
}

.presentation__wrapper {
  padding: 21px 34px 26px 34px;
  display: flex;
  align-items: center;
  order: 1;
}

.presentation__video-wrapper {
  position: relative;
  width: 100%;
  order: 2;
}

.presentation__video {
  width: 100%;
  display: block;
}

.presentation__video-btn {
  background: url("../img/play.svg") no-repeat center;
  width: 101px;
  height: 77px;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.presentation__description {
  order: 3;
}

.presentation__icon {
  margin-right: 25px;
  min-width: 32px;
}

.presentation__text {
  margin: 0;
  padding: 26px 34px 25px 34px;
  font-size: 13px;
  font-weight: normal;
  line-height: 24px;
  order: 3;
}

.presentation__button {
  font-size: 17px;
  line-height: 16px;
  margin: 0 auto;
  margin-bottom: 33px;
  width: 192px;
  order: 4;
}

@media (min-width: @tabletWidth) {
  .presentation {
    margin: @wrapperPaddingTablet;
    margin-bottom: 63px;
  }

  .presentation__video-wrapper {
    order: 1;
  }

  .presentation__video {
    background: url("../img/video-tablet@1x.jpg") no-repeat center;
    background-size: cover;
  }

  .presentation__description {
    padding: 29px 39px 46px;
    border-top: none;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .presentation__wrapper {
    padding-top: 35px;
    padding-left: 40px;
    padding-bottom: 0;
    order: 2;
  }

  .presentation__icon {
    margin-right: 32px;
  }

  .presentation__title {
    font-size: 20px;
  }

  .presentation__text {
    font-size: 15px;
    line-height: 30px;
    padding: 0;
    padding-bottom: 36px;
  }

  .presentation__button {
    margin: 0;
    width: 100%;
  }
}

@media (min-width: @desktopWidth) {
  .presentation {
    .wrapperContent();
    flex-direction: row;
    margin-bottom: 105px;
    position: relative;
  }

  .presentation__description {
    border-top: none;
    height: 455px;
    order: 3;
    padding-top: 180px;
    padding-left: 79px;
  }

  .presentation__wrapper {
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: -24px;
    width: 35%;
    padding-top: 42px;
    padding-left: 54px;
    z-index: -1;
  }

  .presentation__title {
    padding-top: 20px;
    padding-right: 43px;
  }

  .presentation__video-wrapper {
    min-width: 682px;
    height: 455px;
  }

  .presentation__video-btn {
    outline: none;

    &:hover {
      transform: translate(-50%, -50%) scale(1.2);
    }

    &:active {
      transform: translate(-50%, -50%) scale(0.8);
      opacity: 0.5;
    }
  }

  .presentation__button {
    width: 230px;
    margin-top: 10px;
  }
}
