.social {
  .listStyle();
  padding-bottom: 27px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid @footerBorder;
}

.social__item {
  margin: 0 20px;
}

.social__link {
  display: block;
  width: 23px;
  height: 28px;

  &--instagram {
    background: url("../img/insta-svg.svg") no-repeat center;
  }

  &--facebook {
    background: url("../img/fb-svg.svg") no-repeat center;
  }

  &--twitter {
    background: url("../img/twitter-svg.svg") no-repeat center;
  }
}

@media (min-width: @tabletWidth) {
  .social {
    border: none;
    padding-bottom: 0;
  }
}
