*,
*::after,
*::before {
  box-sizing: border-box;
  outline-color: inherit;
}

body {
  min-width: 320px;
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: @goshawkGrey;
}

a {
  text-decoration: none;
  color: @goshawkGrey;
}

img {
  max-width: 100%;
  height: auto;
}
