.subtitle {
  background-color: @lightGrey;
}

.subtitle__text {
  font-size: 27px;
  font-weight: bold;
  color: @black;
  text-align: center;
  margin: 0;
  padding-top: 70px;
  padding-bottom: 70px;
}
